<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<body>
    <div class="container" id="app">
        <div class="card col-4 mt-2">
            <div class="card-header text-center">
              <h5>CRUD Data</h5>
            </div>
            <div class="card-body">
                <form @submit.prevent="submitForm()" action="">
                    <div class="form-group">
                        <p v-if="errors.length">
                            <b>Please correct the following errors</b>
                            <ul>
                                <li v-for="error in errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" v-model="title" class="form-control" name="title" ref="title">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea v-model="description"  name="title" ref="description" class="form-control" ref="description"></textarea>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="SUBMIT" class="form-control btn btn-success">
                    </div>
                </form>
            </div>
        </div>
        <div class="card col-12 mt-3">
            <div class="card-header text-center">
                <h5>Data Post</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered border-success">
                    <thead class="table-success">
                        <tr>
                            <th>No.</th>
                            <th>Foto</th>
                            <th>Post</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        errors : [],
        title : '',
        description : '',
      },
      methods : {
          submitForm : function(event){
              this.errors = []
              if(this.title.length < 5 ){
                  this.$refs.title.focus()
                  this.errors.push("Title minimal 5 karakter")
              }
              if(this.description.length > 200){
                  this.$refs.description.focus()
                  this.errors.push("Description tidak boleh lebih dari 200 karakter")
              }

              if(this.errors.length === 0){
                  alert("Terima kasih telah mengisi data dengan benar")
              }
          }
      },
  })
  </script>
</body>
</html>
