<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<body>
    <div class="container" id="app">
        <div class="card col-4 mt-2">
            <div class="card-header text-center">
              <h5>CRUD Data</h5>
            </div>
            <div class="card-body">

                <form @submit.prevent="addMember()" action="">
                    <div class="form-group">
                        <p v-if="errors.length">
                            <b>Please correct the following errors</b>
                            <ul>
                                <li v-for="error in errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="form-group mb-2">
                        <label>Nama</label>
                        <input type="text" v-model="name" class="form-control" name="name" ref="name">
                    </div>
                    <div class="form-group mb-2">
                        <label>Alamat</label>
                        <textarea v-model="address"  name="address" ref="address" class="form-control" ref="description"></textarea>
                    </div>
                    <div class="form-group mb-2">
                        <label>No. Handphone</label>
                        <input type="text" v-model="no_hp" class="form-control" name="no_hp" ref="no_hp">
                    </div>
                    <div v-if="buttonActive == 'submit'" class="form-group mt-2 mb-2">
                        <input type="submit" value="SUBMIT" class="form-control btn btn-success">
                    </div>
                    <div v-if="buttonActive == 'edit'" class="form-group mt-2 mb-2">
                        <input type="button" @click="editMember(editMemberID)" value="UPDATE" class="btn btn-info">
                        <input type="button" @click="hapusForm()" value="CANCEL" class="btn btn-danger">
                    </div>
                    <div v-if="buttonActive == 'upload'" class="form-group mt-2">
                        <div class="mb-2">
                            <label>Photo </label>
                            <input type="file" name="photo_profile" id="photo_profile" ref="photo_profile" class="form-control">
                        </div>
                        <input type="button" @click="uploadMember(uploadMemberID)" value="UPLOAD" class="btn btn-primary">
                        <input type="button" @click="hapusForm()" value="CANCEL" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
        <div class="card col-12 mt-3">
            <div class="card-header text-center">
                <h5>Data Post</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered border-success">
                    <thead class="table-success">
                        <tr>
                            <th>Photo</th>
                            <th>Nama </th>
                            <th>Alamat</th>
                            <th>No HP</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="member in compGetMembers">
                            <td>
                                <img width="100" :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/100/000/fff'" alt="">
                            </td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.address }}</td>
                            <td>{{ member.no_hp }}</td>
                            <td>
                                <button v-on:click="edit(member)" class="btn btn-warning">Edit</button>
                                <button v-on:click="remove(member.id)" class="btn btn-danger">Hapus</button>
                                <BUtton @click="upload(member)" class="btn btn-primary">Upload photo</BUtton>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        errors : [],
        domain : "http://demo-api-vue.sanbercloud.com",
        name : '',
        address : '',
        no_hp : '',
        members : [],
        editMemberID : '',
        uploadMemberID : '',
        buttonActive : 'submit'
      },
      methods : {
          validationForm : function(){
            this.errors = []
              if(this.name.length < 5 ){
                  this.$refs.name.focus()
                  this.errors.push("Name minimal 5 karakter")
              }
              if(this.address.length > 200){
                  this.$refs.address.focus()
                  this.errors.push("Address tidak boleh lebih dari 200 karakter")
              }

              if(this.no_hp.length > 13){
                  this.$refs.no_hp.focus()
                  this.errors.push("No HP tidak boleh lebih dari 13 angka")
              }

              if(this.errors.length === 0){
                  //alert("Terima kasih telah mengisi data dengan benar")
              }
          },
          hapusForm : function(){
            this.name = ''
            this.address = ''
            this.no_hp =  ''
            this.editMemberID = ''
            this.buttonActive = 'submit'
            this.uploadMemberID = ''
          },
          addMember : function(){

            this.validationForm()
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)

            const config = {
                  method : "post",
                  url : "http://demo-api-vue.sanbercloud.com/api/member",
                  data : formData
            }

            axios(config)
            .then(function (response) {
                vm.hapusForm()
                alert(response.data.message)
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });

          },
          editMember : function(id){

            this.validationForm()
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)

            const config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params : { _method : "PUT" },
                data : formData
            }

            axios(config)
            .then(function (response) {
                vm.hapusForm()
                alert(response.data.message)
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
            },
        uploadMember : function(id){
            this.validationForm()
            let file = this.$refs.photo_profile.files[0]

            let formData = new FormData()
            formData.append('photo_profile', file)

            const config = {
                method : "post",
                url    : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data    : formData
            }

            axios(config)
              .then( (response) => {
                //console.log(response.data.members)
                this.members = response.data.members
              })
              .catch ( (error) => {
                console.log(error)
              })
        },
          getMembers : function(){

            const config = {
                  method : "get",
                  url : "http://demo-api-vue.sanbercloud.com/api/member"
              }
              
              axios(config)
              .then( (response) => {
                console.log(response.data.members)
                this.members =  response.data.members
              })
              .catch ( (error) => {
                console.log(error)
              })
              
          },
          edit : function(member){
            this.editMemberID = member.id
            this.name = member.name
            this.address = member.address
            this.no_hp  = member.no_hp
            this.buttonActive = 'edit'
          },
          upload : function(member){
            this.uploadMemberID = member.id
            this.name = member.name
            this.address = member.address
            this.no_hp  = member.no_hp
            this.buttonActive = 'upload'
          },
          
          remove : function(id){
            if(confirm('apakah anda yakin?')){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : "DELETE" },
                    }

                    axios(config)
                    .then(function (response) {
                        alert(response.data.message)
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }   
      },
      computed : {
          compGetMembers : function(){
            const config = {
                  method : "get",
                  url : "http://demo-api-vue.sanbercloud.com/api/member"
              }
              
              axios(config)
              .then( (response) => {
                this.members =  response.data.members
              })
              .catch ( (error) => {
                console.log(error)
              })
              return this.members
              
          },

      }
  })
  </script>
</body>
</html>
