<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
        <input type="text" name="name" v-model:value="name" v-on:input="cari()" placeholder="Ketikkan kata kunci">
    </form>
    <ul v-if="name != ''">
        <li v-for="book in result">{{book}}</li>
    </ul>
    <ul v-if="name == ''">
        <li v-for="book in books">{{book}}</li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name : '',
        books : [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementor',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ],
        result : []
      },
      methods : {
          cari : function(){
            let tempBook = this.books
  
            if (this.name != '' && this.name) {
                    tempBook = tempBook.filter((item) => {
                    return item
                        .toUpperCase()
                        .includes(this.name.toUpperCase())
                    })
                this.result = tempBook;
                }
          }
      },
  })
  </script>
</body>
</html>
