<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div id="form">

    </div>
    <form v-on:submit.prevent="addNewUser">
      <input type="hidden" v-model="idUserText" id="new-user">
      <input v-model="newUserText" id="new-user" v-bind:value="editUserName" >
      <button>{{aksi}}</button>
    </form>
    <ul>
      <li v-for="(user, index) in users">
        {{user.name}}  
        <button v-on:click="editUser(index)">Edit</button> | 
        <button v-on:click="removeUser(index)">Remove</button> 
        
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        newUserText: '',
        users: [
          {
            'name': 'Muhammad Iqbal Mubarok',
          },
          {
            'name': 'Ruby Purwanti',
          },
          {
            'name': 'Faqih Muhammad',
          },
        ],
        editedUser: '',
        aksi : 'Add',
        idUserText : '',
        editUserName : ''
      },
      methods: {
        addNewUser: function () {
          if(this.idUserText === ''){
            this.users.push({
            name: this.newUserText
          })
          }
          else{
            this.users[this.idUserText].name = this.newUserText
          }
          this.newUserText = ''
          this.aksi = 'Add'
          this.idUserText = ''

        },
        removeUser: function (id) {
          if(confirm('Apakah anda yakin?')){
            this.users.splice(id, 1);
          }
        },
        editUser : function(id) {
          this.idUserText = id
          this.aksi = 'edit'
          this.newUserText = this.users[id].name
        }
      }
    })
  </script>
</body>

</html>